* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}
section {
	text-align: left;
	padding: 0.1rem;
	margin: 1.5rem;
	border-bottom: 1px solid hsl(228, 12%, 44%);
}
section h1 {
	margin: 10px auto;
	font-size: 30px;
}
section p {
	margin: 10px auto;
	color: hsl(228, 12%, 44%);
	font-weight: 600;
}
.mode {
	margin: 1.5rem;
	color: hsl(228, 12%, 44%);
	display: flex;
	justify-content: space-between;
}
.mode p {
	color: hsl(228, 12%, 44%);
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

input:focus + .slider {
	box-shadow: 0 0 1px linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
.ip {
	display: flex;
	margin: 10px;
}
.ip img {
	margin-right: 5px;
}
.ip {
	color: hsl(228, 12%, 44%);
	font-weight: 600;
}
.num {
	letter-spacing: 0.3rem;
	text-transform: uppercase;
	margin-bottom: 15px;
	color: hsl(228, 12%, 44%);
}
.num:first-child {
	color: white;
}
.pos {
	color: green;
}
.neg {
	color: red;
}
.pos::before {
	content: url("./images/icon-up.svg");
	color: green;
	margin-right: 7px;
}
.neg::before {
	content: url("./images/icon-down.svg");
	color: red;
	margin-right: 7px;
}

.container {
	display: grid;
	grid-template-rows: repeat(1fr 1fr);
	padding: 0.3rem;
	margin: 0.5rem;
}
.bottom {
	display: flex;
	flex-direction: column;
}

.box {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: ghostwhite;
	font-size: 16px;
	font-weight: 500;
	padding: 1.5rem;
	margin: 1rem;
	opacity: 0.9;
}
.box:hover {
	opacity: 1;
	cursor: pointer;
}

.count {
	font-size: 4rem;
	color: hsl(228, 12%, 44%);
}
.sm {
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 6rem;
	row-gap: 3rem;
	padding: 2rem 1rem;
}

.facebook {
	border-top: 0.5rem solid blue;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.twitter {
	border-top: 0.5rem solid lightskyblue;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.instagram {
	border-top: 10px solid rgb(255, 141, 230);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.instagram:hover {
	border-image: linear-gradient(45deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) 0.5;
}

.youtube {
	border-top: 0.5rem solid red;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.h3 {
	margin-left: 1.5rem;
	color: hsl(228, 12%, 44%);
	font-size: 30px;
}
.left p {
	color: hsl(228, 12%, 44%);
	font-size: 15px;
}
.left p,
.right img {
	margin-bottom: 20px;
}
.left h1,
.right p {
	margin-top: 10px;
}
.right {
	margin-right: 10px;
}

.attribution {
	font-size: 13px;
	text-align: center;
	color: grey;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
@media only screen and (min-width: 1080px) {
	body {
		width: 95%;
		margin: 10px auto;
	}
	section {
		margin: auto;
		margin-top: 30px;
		width: 95%;
	}
	.mode {
		display: flex;
		margin: 1rem auto;
		width: 95%;
	}
	.container {
		display: flex;
	}
	.top .box {
		padding: 3.4rem;
		margin: 1.5rem;
	}
	.bottom {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
	}
	.up {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	.down {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	.box {
		margin: 2.3em;
		/* padding: 3rem; */
	}
	.sm {
		margin: 1.3em;
		padding-right: -12rem;
		padding-top: 2em;
		padding-bottom: 2em;
		column-gap: 5rem;
	}
}

@media only screen and (max-width: 576px) {
	.bottom {
	}
}
