*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 18px;
	font-family: "Rubik", sans-serif;
}
.container {
	background-image: url("./images/pattern-bg.png");
	max-width: 100%;
	min-height: 15rem;
}
.main {
	width: 100%;
	margin-top: -220px;
}
.title {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 40px;
	color: white;
	text-align: center;
}
.search {
	display: flex;
	margin: auto;
	width: 650px;
	margin-bottom: 30px;
}
.search input {
	padding: 1.3rem;
	border-radius: 10px;
	border: none;
	width: 100%;
}

input:focus {
	border: 3px solid black;
	border-radius: 10px;
	outline: none;
}

.submit {
	margin-left: -30px;
	padding: 1.25rem;
	background-color: black;
	border: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.submit:focus {
	outline: none;
}

.table {
	display: flex;
	justify-content: space-around;
	background-color: white;
	color: black;
	border-radius: 5px;
	width: 850px;
	height: 160px;
	padding: 20px;
	margin: auto;
	margin-bottom: 10px;
	border-radius: 18px;
	box-shadow: 0px 2px 20px 0px #00000038;
}
.box div {
	color: grey;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 10px;
}

#mapid {
	height: 70vh;
	margin-top: -105px;
	z-index: -1;
}
.attribution {
	font-size: 13px;
	color: gray;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
@media only screen and (max-width: 768px) {
	.container {
		height: 18rem;
	}
	.submit {
		margin-left: -120px;
	}
	.table {
		flex-direction: column;
		padding: 40px;
		height: fit-content;
		width: fit-content;
	}
	.box {
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.box div {
		font-size: 10px;
		letter-spacing: 0.1rem;
		margin-bottom: 10px;
	}
	#mapid {
		margin-top: -275px;
		z-index: -1;
		height: 100vh;
	}
}

@media screen and (max-width: 500px) {
	.main {
		margin: initial;
		width: 100%;
		margin-top: -300px;
		margin-left: auto;
	}
	.title {
		color: white;
		text-align: center;
		font-weight: 700;
	}
	.search {
		display: flex;
		margin: 10px auto;
		width: 250px;
	}
	.search input {
		width: 100%;
		padding: 20px;
		border: none;
		border-radius: 10px;
	}
	.search button {
		background-color: black;
		padding: 20px;
		border: none;
		margin-left: -5px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.table {
		background-color: white;
		border-radius: 10px;
		padding: 20px;
		margin: 20px auto;
		width: 250px;
	}
	.box {
		margin: 20px auto;
		width: 50%;
	}
	.attribution {
		font-size: 11px;
		text-align: center;
	}
	.attribution a {
		color: hsl(228, 45%, 44%);
	}
}
